<html lang="pt-BR">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Autor Edit</title>
  
      <link rel="stylesheet" href="/styles/main.css" />
      
    </head>
    <body>
        <h2 class=”titulo”>Autor</h2>
        <% autor.forEach((autor) => { %>
            Id: <%=autor.id%><br>
            Nome: <%= autor.nome %><br>
            Email:<%= autor.email %><br>
            Profissão:<%= autor.profissao %><br>
            Biografia:<%= autor.biografia %><br>
            <img width="100px" height="100px" src="<%= autor.endereco_foto %>" alt=""><br>
            Cidade:
            <% cidade.forEach((cidade) => { %>
               <%= cidade.nome %>
            <% })%>
            <br>
            Gênero:<%= autor.genero %>
            <input type="hidden" name="id" value="<%= autor.id %> "/> 
        <% })%>
  </body>