<html lang="pt-BR">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Autor Edit</title>
  
      <link rel="stylesheet" href="/styles/main.css" />
      
    </head>
    <body>
        <h2 class=”titulo”>Autor</h2>
        <% autor.forEach((autor) => { %>
            <form action="/autor/update/<%=autor.id%>" method="post" enctype="multipart/form-data">
                <fieldset class="grupo">
                    <div class="campo">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" style="width: 20em" value="<%= autor.nome %>" />
                    </div>
                    <div class="campo">
                        <label for="nome">Email</label>
                        <input type="email" id="nome" name="email" style="width: 20em" value="<%= autor.email %>" />
                    </div>
                    <div class="campo">
                        <label for="profissao">Profissão:</label>
                        <input type="text" id="profissao" name="profissao" style="width: 20em" value="<%= autor.profissao %>" />
                    </div>
                    <div class="campo">
                        <label for="biografia">Biografia:</label>
                        <textarea id="biografia" name="biografia" rows="4" cols="50"><%= autor.biografia %></textarea>
                    </div>
                    <img width="100px" height="100px" src="<%= autor.endereco_foto %>" alt="">
                </fieldset>	                
                <div class="campo">
                    <label for="select_cidade">Cidade:</label>
                    <select name="select_cidade" id="select_cidade">
                        <% cidade.forEach((cidade) => { %>
                            <option value="<%= cidade.id %>"><%= cidade.nome %> </option>
                        <% })%>
                    </select>
                </div>
                <div class="campo">
                    <label for="select_genero">Gênero:</label>
                    <select name="select_genero" id="select_genero">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <input type="hidden" name="id" value="<%= autor.id %> "/> 
                <div class="campo">
                    <label for="imagem">Imagem:</label>
                    <input src="<%= autor.endereco_foto %>" value="<%= autor.endereco_foto %>"  type="file" name="file" id="imagem">
                </div>
                <button class="botao submit" type="submit" name="submit">Alterar</button>
            </form>
        <% })%>
      
  
      </form>
  </body>