<html lang="pt-BR">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Autor</title>
  
      <link rel="stylesheet" href="styles/main.css" />
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <%- include('parts/pageHeader') %> 
        <!-- <h2 class=”titulo”>Cadastro de autores:</h2>
        <form action="/create_autor" method="post" enctype="multipart/form-data">
            <fieldset class="grupo">
                <div class="campo">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" style="width: 20em" value="" />
                </div>
                <div class="campo">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" style="width: 20em" value="" />
                </div>
                <div class="campo">
                    <label for="profissao">Profissão:</label>
                    <input type="text" id="profissao" name="profissao" style="width: 20em" value="" />
                </div>
                <div class="campo">
                    <label for="biografia">Biografia:</label>
                    <textarea id="biografia" name="biografia" rows="4" cols="50"></textarea>
                </div>
                <div class="campo">
                    <label for="select_cidade">Cidade:</label>
                    <select name="select_cidade" id="select_cidade">
                        <% cidade.forEach((cidade) => { %>
                            <option value="<%= cidade.id %>"><%= cidade.nome %> </option>
                        <% })%>
                    </select>
                </div>
                <div class="campo">
                    <label for="select_genero">Gênero:</label>
                    <select name="select_genero" id="select_genero">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="campo">
                    <label for="imagem">Imagem:</label>
                    <input type="file" name="file" id="imagem">
                </div>
            </fieldset>	
            <button class="botao submit" type="submit" name="submit">Cadastrar</button>
        </form> -->
        <table border="1">
          <tr>
              <td>Nome</td>
              <!-- <td>Profissão</td> -->
              <!-- <td>Biografia</td> -->
              <td>Email</td>
              <td>Foto</td>
              <!-- <td>Gênero</td> -->
              <!-- <td>Cidade</td> -->
              <td>Ação</td>
          </tr>
          <% autor.forEach((autor) => { %>
            <tr>
                <td><a href="/autor/<%=autor.id%>"><%= autor.nome %></a></td>
                <!-- <td><%= autor.profissao %></td> -->
                <!-- <td><%= autor.biografia %></td> -->
                <td><%= autor.email %></td>
                <td><img width="100px" height="100px" src="<%= autor.endereco_foto %>" alt=""></td>
                <!-- <td><%= autor.genero %></td> -->
                <!-- <td><%= autor.id_cidade %></td> -->
                <td>
                    <form action="/autor/delete/<%=autor.id%>" method="POST">
                        <input type="hidden" name="id"/> 
                        <button><img src="/images/icon_delet.png" class="icon" alt=""></button>
                    </form>

                    <form action="/autor/edit/<%=autor.id%>" method="POST">
                        <input type="hidden" name="id"/> 
                        <button><img src="/images/icon_edit.png" class="icon" alt=""></button>
                    </form>                    
                </td>
            </tr>
          <% })%>
        </table>      
  </body>
  <script>
    $(document).ready(function() {
        console.log("chegou")
        const token = localStorage.getItem('portal@token');  
        axios.get('/edit_list_autor', { 
            headers: {
                authorization: "Bearer $(token)"
            }
        }).then(function(response) {
            //console.log(response.data) 
            //response.render('editListaAutor')
            console.log("Oi")
        })
    });
    </script>
</html>