<html lang="pt-BR">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Obra</title>
  
      <link rel="stylesheet" href="/styles/main.css" />
      
    </head>
    <body>
        <h2 class=”titulo”>Obra</h2>
        <% obra.forEach((obra) => { %>
            Id: <%=obra.id%><br>
            Nome: <%= obra.nome %><br>
            Link: <a href="<%= obra.endereco_pdf %>"><%= obra.nome %></a><br>
            <% autor.forEach((autor) => { %>
              Autor:<%= autor.nome %><br>
            <% })%>
            <% generoLiterario.forEach((generoLiterario) => { %>
              Gênero Literário:<%= generoLiterario.nome %><br>
            <% })%>
            <input type="hidden" name="id" value="<%= obra.id %> "/> 
        <% })%>
  </body>